<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <nav>
            <a href="#reserva">Reserva</a>
        <a href="#reserva2">Servicio</a>
        <a href="#reserva3">Trabajo</a>
        <a href="#reserva5">Contacto</a>
        </nav>
</div>
<section id="reserva">
    <h1>reserva</h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit laudantium ex placeat, architecto temporibus, delectus dolorem sequi <br>ipsum iste magnam voluptates beatae possimus suscipit mollitia distinctio odit labore quis tempora?
    Fugit inventore sequi, incidunt sapiente quidem omnis optio quo aliquam <br>sunt earum ducimus suscipit quae quod voluptates dolorem labore qui similique. Ipsam quis eveniet eius ipsum corporis obcaecati id expedita.
    Adipisci, aliquam temporibus consequuntur vel odit mollitia dolor ex, in eum eos, ipsum et. Consectetur optio nihil, exercitationem, et dolores dignissimos reiciendis similique veritatis iste ipsa quis voluptatem, atque eligendi?
    Optio ipsa laborum deleniti suscipit nesciunt repellendus sapiente quisquam, <br>autem ratione ab inventore numquam libero pariatur, voluptatibus hic natus est corporis dolorum eaque cum? Expedita laboriosam cupiditate consectetur? Vero, magni!
    Quam id tempore nesciunt, ex vitae ipsum quo blanditiis suscipit hic dolorem soluta modi omnis accusamus facere aliquam fuga rerum odio dolor temporibus consectetur? Quia distinctio unde sequi nulla alias!
</section>

<section id="reserva2">
    <h1>dfgdgd</h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit laudantium ex placeat, architecto temporibus, delectus dolorem sequi <br>ipsum iste magnam voluptates beatae possimus suscipit mollitia distinctio odit labore quis tempora?
    Fugit inventore sequi, incidunt sapiente quidem omnis optio quo aliquam <br>sunt earum ducimus suscipit quae quod voluptates dolorem labore qui similique. Ipsam quis eveniet eius ipsum corporis obcaecati id expedita.
    Adipisci, aliquam temporibus consequuntur vel odit mollitia dolor ex, in eum eos, ipsum et. Consectetur optio nihil, exercitationem, et dolores dignissimos reiciendis similique veritatis iste ipsa quis voluptatem, atque eligendi?
    Optio ipsa laborum deleniti suscipit nesciunt repellendus sapiente quisquam, <br>autem ratione ab inventore numquam libero pariatur, voluptatibus hic natus est corporis dolorum eaque cum? Expedita laboriosam cupiditate consectetur? Vero, magni!
    Quam id tempore nesciunt, ex vitae ipsum quo blanditiis suscipit hic dolorem soluta modi omnis accusamus facere aliquam fuga rerum odio dolor temporibus consectetur? Quia distinctio unde sequi nulla alias!
</section>
<section id="reserva3">
    <h1>reserva</h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit laudantium ex placeat, architecto temporibus, delectus dolorem sequi <br>ipsum iste magnam voluptates beatae possimus suscipit mollitia distinctio odit labore quis tempora?
    Fugit inventore sequi, incidunt sapiente quidem omnis optio quo aliquam <br>sunt earum ducimus suscipit quae quod voluptates dolorem labore qui similique. Ipsam quis eveniet eius ipsum corporis obcaecati id expedita.
    Adipisci, aliquam temporibus consequuntur vel odit mollitia dolor ex, in eum eos, ipsum et. Consectetur optio nihil, exercitationem, et dolores dignissimos reiciendis similique veritatis iste ipsa quis voluptatem, atque eligendi?
    Optio ipsa laborum deleniti suscipit nesciunt repellendus sapiente quisquam, <br>autem ratione ab inventore numquam libero pariatur, voluptatibus hic natus est corporis dolorum eaque cum? Expedita laboriosam cupiditate consectetur? Vero, magni!
    Quam id tempore nesciunt, ex vitae ipsum quo blanditiis suscipit hic dolorem soluta modi omnis accusamus facere aliquam fuga rerum odio dolor temporibus consectetur? Quia distinctio unde sequi nulla alias!
</section>
<section id="reserva4">
    <h1>reserva</h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit laudantium ex placeat, architecto temporibus, delectus dolorem sequi <br>ipsum iste magnam voluptates beatae possimus suscipit mollitia distinctio odit labore quis tempora?
    Fugit inventore sequi, incidunt sapiente quidem omnis optio quo aliquam <br>sunt earum ducimus suscipit quae quod voluptates dolorem labore qui similique. Ipsam quis eveniet eius ipsum corporis obcaecati id expedita.
    Adipisci, aliquam temporibus consequuntur vel odit mollitia dolor ex, in eum eos, ipsum et. Consectetur optio nihil, exercitationem, et dolores dignissimos reiciendis similique veritatis iste ipsa quis voluptatem, atque eligendi?
    Optio ipsa laborum deleniti suscipit nesciunt repellendus sapiente quisquam, <br>autem ratione ab inventore numquam libero pariatur, voluptatibus hic natus est corporis dolorum eaque cum? Expedita laboriosam cupiditate consectetur? Vero, magni!
    Quam id tempore nesciunt, ex vitae ipsum quo blanditiis suscipit hic dolorem soluta modi omnis accusamus facere aliquam fuga rerum odio dolor temporibus consectetur? Quia distinctio unde sequi nulla alias!
</section>

<section id="reserva5">
    <h1>titulo</h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit laudantium ex placeat, architecto temporibus, delectus dolorem sequi <br>ipsum iste magnam voluptates beatae possimus suscipit mollitia distinctio odit labore quis tempora?
    Fugit inventore sequi, incidunt sapiente quidem omnis optio quo aliquam <br>sunt earum ducimus suscipit quae quod voluptates dolorem labore qui similique. Ipsam quis eveniet eius ipsum corporis obcaecati id expedita.
    Adipisci, aliquam temporibus consequuntur vel odit mollitia dolor ex, in eum eos, ipsum et. Consectetur optio nihil, exercitationem, et dolores dignissimos reiciendis similique veritatis iste ipsa quis voluptatem, atque eligendi?
    Optio ipsa laborum deleniti suscipit nesciunt repellendus sapiente quisquam, <br>autem ratione ab inventore numquam libero pariatur, voluptatibus hic natus est corporis dolorum eaque cum? Expedita laboriosam cupiditate consectetur? Vero, magni!
    Quam id tempore nesciunt, ex vitae ipsum quo blanditiis suscipit hic dolorem soluta modi omnis accusamus facere aliquam fuga rerum odio dolor temporibus consectetur? Quia distinctio unde sequi nulla alias!
</section>
</body>
</html>
