{% extends 'base.html.twig' %}

{% block title %}Bienvenidos{% endblock %}

{% block body %}
<link href="{{ asset('CSS/Servicio.css') }}" rel="stylesheet" />
    
    <div class="Contenedor_encabezado">
    <h1 class="titulo_principal">Peluqueria Elegante</h1>
    
        <div class="barra">
            <a>Inico</a>
            <a href="{{ path('login') }}">Ingresar</a>
            <a>Servicio</a>
            <a>Contacto</a>
        </div>
    </div>
    <div class="Contenedor_citas">

    <h2>Renova tu estilo con nosotros</h2>
    <p>Reserva tu cita online, elige tu estilista favorito y disfruta de una experiencia única.</p>
    <button>Reserva tu cita</button>
    </div>

    <div class="Contenedor_total">
    <h2 Class="TituloH2">Nuestros servicios</h2>
    <div class="Servicio">
        {% for servicio in servicio %}
            <div class="Contenedor_servicios">
            <h3>{{ servicio.nombre }}</h3>
            <p>{{ servicio.descripcion}}<p>
            </div>
        {% endfor %}
        </div>
    </div>

                        <h2>Nuestros trabajos</h2>
        <div class="gallery">
            <img src="https://media.istockphoto.com/id/511777075/es/foto/profesor-ayudando-a-los-estudiantes-formaci%C3%B3n-para-ser-hairdressers.jpg?s=612x612&w=0&k=20&c=_Nu3qZ2PCNWvKcACyQGe2YX33OwRTzPwnMEaxdkqcyI=" alt="Trabajo 1" />
            <img src="https://media.istockphoto.com/id/1030254288/es/foto/trabajar-sobre-el-cabello-del-cliente-en-el-sal%C3%B3n-de-la-peluquer%C3%ADa.jpg?s=612x612&w=0&k=20&c=Yj6-gFiTlTxRwa1MUWSjHzjJDadQO5e3L5pV4pNgyBc=" alt="Trabajo 2" />
            <img src="https://media.istockphoto.com/id/947995974/es/foto/mujer-joven-hablando-con-su-estilista-durante-una-cita-de-sal%C3%B3n.jpg?s=612x612&w=0&k=20&c=wHv3z4dvJyEMxXiHt6yt8jlz9y9fQe5kLNXBc3ydAok=" alt="Trabajo 3" />
            <img src="https://media.istockphoto.com/id/1385966731/es/foto/primer-plano-de-un-delantal-de-barbero-irreconocible.jpg?s=612x612&w=0&k=20&c=FTVKR0QiY-DCkWdjVJIWdJTKYI2PzwBKlMyayg3s8ts=" alt="Trabajo 4" />

        </div>
</section>
{% endblock %}
