{% extends 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/registro.css') }}">
    <div class="registro-container">
        <h1>Registro de Usuario</h1>

        <form action="{{ path('nuevo_registro') }}" method="post">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>

            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido" required>

            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required>

            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>

            <label for="contacto">Contacto:</label>
            <input type="text" id="contacto" name="contacto" required>

            <button class="boton1"type="submit">Incribirse</button>
            
        </form>
        <br>
            <button class="boton2" onclick="history.back()">Volver</button>

    </div>
{% endblock %}
