{% extends 'base.html.twig' %}

{% block title %}Bienvenido{% endblock %}

{% block body %}

<div class="Contenedor_encabezado">
    <div class="encabezado_flex">
        <h1 class="titulo_principal">Peluquería Elegante</h1>
        <div class="barra">
            <nav>
                <a href="{{path('peluquero_confirmada')}}">Reservas confirmadas</a>
                <a href="{{path('peluquero')}}">Reservas pendientes</a>
                <a href="{{ path('app_logout') }}">Cerrar sesión</a>
            </nav>
        </div>
    </div>
</div>
{% endblock %}
