.Contenedor_servicios{
    width: 250px;          /* 👈 Tamaño fijo */
    height: auto;
    background-color: #ffeef3;
    margin: 15px;
    text-align: center;
    border-radius: 10px;
    padding: auto;
    
}

.Servicio{
    display: flex;
     flex-wrap: wrap;
}

body{
    background-color: rgb(230, 163, 204);
}

.TituloH2{
    text-align: center;
}

.gallery{
    
    
    margin: 15px;
    padding: auto;
}